@import 'tailwindcss';
@import '@consultation-booking/shared-ui/styles';
@import '@fullcalendar/core/index.css';
@import '@fullcalendar/daygrid/index.css';
@import '@fullcalendar/timegrid/index.css';
